name: SE333_CI
on:
  push:
    branches:
      - main

jobs:
  SE333_CI_JOB:
    runs-on: ubuntu-latest
    steps:
      - name: checkout-repo
        uses: actions/checkout@v4

      - name: setupJava
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          architecture: x64

      - name: Install Linter
        uses: mvn clean install -DskipTests

      - name: Run Checkstyle
        uses: mvn checkstyle:checkstyle -Dcheckstyle.output.file=target/checkstyle-results.xml

      - name: Upload Checkstyle Result
        uses: actions/upload-artifact@v4
        with:
          name: checkstyle-report
          path: target/checkstyle-result.xml

      - name: Run Maven Test
        run: mvn test

      - name: Jacoco Report
        run: mvn jacoco:report